<div>
    <h2>
        Application:
        <span *ngIf="!editName">
            {{name.value}}
            <a class="material-icons-outlined" (click)="startEditName()">&#xe3c9;</a>
        </span>
        <span *ngIf="editName">
            <input *ngIf="editName" type="text" [formControl]="name">
            <a class="material-icons-outlined" (click)="saveEditName()">&#xe161;</a>
        </span>
    </h2>
    <div class="environment">
        <label>
            <span>Environment:</span>
            <select *ngIf="envs$ | async as envs" [formControl]="env">
                <option *ngFor="let env of envs" [value]="env.id">{{env.name}}</option>
            </select>
            <span class="dropdown-arrow"></span>
        </label>
        <a class="action" routerLink="/apps/{{id$ | async}}/compare/{{env.value}}">Compare (TODO: implement compare page)</a>
    </div>
    <h3>Assigned components</h3>
    <ul>
        <li *ngFor="let component of app?.artifacts; index as i">
            <div class="component">
                <span class="name">{{component.name}}</span>
                <span class="image" [ngClass]="undeployed(i)">{{component.deployments ? component.deployments[0]?.image : "Not deployed"}}</span>
                <span class="update">{{component.deployments ? component.deployments[0]?.updated : "-"}}</span>
            </div>
            <div *ngIf="editMode" class="action-bar">
                <a class="action remove" (click)="move(app.artifacts, i, unassigned)">remove</a>
            </div>
        </li>
        <li *ngIf="!(app?.artifacts?.length)">
            <span class="component-text note">No component has been assigned to this application yet...</span>
        </li>
        <!-- <li>
            <span class="component-text">REMOVE ME (later)</span>
            <div *ngIf="editMode" class="action-bar">
                <a class="action remove">remove</a>
            </div>
        </li> -->
    </ul>
</div>

<div *ngIf="editMode">
    <h3>Unassigned components</h3>
    <label>
        <input type="checkbox" [formControl]="otherApps">
        Show components already assigned to other applications
    </label>
    <ul>
        <li *ngFor="let component of unassigned; index as i">
            <div class="component">
                <span class="name">{{component.name}}</span>
                <span class="image">{{component.deployments[0]?.image}}</span>
                <span class="update">{{component.deployments[0]?.updated}}</span>
            </div>
            <div class="action-bar">
                <a class="action add" (click)="move(unassigned, i, app.artifacts)">assign</a>
            </div>
        </li>
        <li *ngIf="!(unassigned?.length)">
            <span class="component-text note">No more unassigned components for this application</span>
        </li>
    </ul>
    <div class="action-bar">
        <a class="action save" (click)="saveEditComponents()">Save edit</a>
        <a class="action cancel" (click)="cancelEditComponents()">Cancel edit</a>
    </div>
</div>

<div *ngIf="!editMode">
    <div class="action-bar">
        <a class="action edit" (click)="toggleEditComponents()">Edit components</a>
    </div>
</div>

<a [routerLink]="['..']" routerLinkActive="router-link-active">Back to the applications list</a>
