/* TODO: Unified styling of buttons would be good */
.button {
    padding: 0.6em 1.0em;

    color: dodgerblue;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    border-color: dodgerblue;
    border-width: 0.2em;
    border-style: solid;
    border-radius: 0.5em;

    background-color: white;

    user-select: none;

    &:active {
        color: cornflowerblue;
        border-color: cornflowerblue;
        background-color: ghostwhite;
    }

    &:hover {
        cursor: pointer;
    }
}

ul > li:last-child {
    margin-bottom: 1em;
}

/*
 * The same styling is used on application-list.component.scss. TODO: Maybe create a list component that encapsulates the style?
 */
ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style-type: none;
    padding-left: inherit;
}

li {
    display: flex;
    // height: 24px;
    border: 0.15em solid gray;
    padding: 0.6em;
}

li:not(:last-child){
    border-bottom: 0;
}

li:first-child {
    border-radius: 0.5em 0.5em 0 0;
}

li:last-child {
    border-radius: 0 0 0.5em 0.5em;
}

li > *:not(:last-child) {
    margin-right: 1em;
}

li > *:last-child {
    margin-left: auto;
}

li > input[type='text'] {
    width: 93%;
}
