<div>
    <h1>{{app ? app.name : 'Loading...'}}</h1>
    <h2>Assigned components</h2>
    <ul>
        <li *ngFor="let component of app?.artifacts; index as i">
            <span class="component-text">{{component.name}} ({{component.image}})</span>
            <div *ngIf="editMode" class="action-bar">
                <a class="remove-action" (click)="move(app.artifacts, i, unassigned)">remove</a>
            </div>
        </li>
        <li *ngIf="!(app?.artifacts?.length)">
            <span class="component-text note">No components...</span>
        </li>
        <!-- <li>
            <span class="component-text">REMOVE ME (later)</span>
            <div *ngIf="editMode" class="action-bar">
                <a class="action remove">remove</a>
            </div>
        </li> -->
    </ul>
</div>

<div *ngIf="editMode">
    <h2>Unassigned components</h2>
    <ul>
        <li *ngFor="let component of unassigned; index as i">
            <span class="component-text">{{component.name}} ({{component.image}})</span>
            <div class="action-bar">
                <a class="add-action" (click)="move(unassigned, i, app.artifacts)">assign</a>
            </div>
        </li>
        <li *ngIf="!(unassigned?.length)">
            <span class="component-text note">No components...</span>
        </li>
    </ul>
    <div class="action-bar">
        <a class="button save-button" (click)="saveEdit()">Save edit</a>
        <a class="button cancel-button" (click)="cancelEdit()">Cancel edit</a>
    </div>
</div>

<div *ngIf="!editMode">
    <div class="action-bar">
        <a class="button" (click)="toggleEdit()">Edit components</a>
    </div>
</div>

<a [routerLink]="['..']" routerLinkActive="router-link-active">Back to the applications list</a>
