li {
  & > div.component {
    display: flex;
    flex-direction: column;
    & > .name {
      font-weight: bold;
    }
    & > .image {
      &.undeployed {
        color: red;
        font-style: italic;
      }
      &::before {
        content: "Image: ";
      }
    }
    & > .update {
      &::before {
        content: "Last update: ";
      }
    }
    span:not(:last-child)::after {
      content: " ";
    }
  }
}

.environment {
  display: flex;
  label {
    display: flex;
    font-weight: bold;
    align-items: baseline;
  }

  margin-bottom: 1em;
}
