li {
    &>div.component {
        display: flex;
        flex-direction: column;
        &>.name {
            font-weight: bold;
        }
        &>.image {
            &::before { content: 'Image: ' }
        }
        &>.update {
            &::before { content: 'Last update: ' }
        }
        span:not(:last-child)::after {
            content: ' ';
        }
    }
}

.environment {
    display: flex;
    label {
        display: inline-flex;
        flex-grow: 1;
        font-weight: bold;
    }
}

// Custom select look-and-feel
label {
    select {
        appearance: none;
        border: none;
        outline: none;

        display: inline-block;
        flex-grow: 1;
        max-width: 400px;

        margin-left: 12pt;
        padding-right: 12pt;

        font-size: inherit;

        border-bottom: 1px solid cornflowerblue;

        &:hover { cursor: pointer }
    }

    &>.dropdown-arrow {
        &::after { content: '>' }
        color: cornflowerblue;
        font-weight: 900;
        pointer-events: none;
        text-orientation: sideways;
        writing-mode: vertical-rl;
        text-align: center;
        margin-left: -12pt;
    }
}
