.dependencies {
    // li { justify-content: flex-start; }
    li {
        .error {
            color: crimson;
            margin-left: 1em;
        }
    }

    .empty {
        color: darkgray;
        justify-content: flex-start;
    }
}