label {
    select {
        appearance: none;
        border: none;
        outline: none;

        display: inline-block;
        flex-grow: 1;

        min-width: 200px;
        max-width: 400px;

        margin-left: 6pt;
        margin-right: 6pt;
        padding-right: 12pt;

        font-size: inherit;

        border-bottom: 1px solid cornflowerblue;

        &:hover { cursor: pointer }
    }

    .dropdown-arrow {
        // TODO: Find out, why the after content is not used in width calculation at first, but is used after changing the dropdown value once
        &::after { content: '>' }
        width: 1em;
        display: inline-block;
        padding-top: 6px;
        margin-left: -12pt;
        color: cornflowerblue;
        font-weight: 900;
        pointer-events: none;
        text-orientation: sideways;
        writing-mode: vertical-rl;
        text-align: center;
    }
}
