<div>
    <h2>
        Environment:
        <span *ngIf="!editMode">
            {{name.value}}
            <a class="material-icons-outlined" (click)="toggleEditMode()">&#xe3c9;</a>
        </span>
        <span *ngIf="editMode">
            <input *ngIf="editMode" type="text" [formControl]="name">
            <a class="material-icons-outlined" (click)="save()">&#xe161;</a>
        </span>
        
    </h2>
    <h3>Platforms</h3>
    <app-platform-list [env$]="id$"></app-platform-list>
</div>

<a [routerLink]="['..']" routerLinkActive="router-link-active">Back to the environments list</a>