<ul>
    <li *ngFor="let application of applications; index as i">
        <a [routerLink]="[application.id]" routerLinkActive="router-link-active">{{application.name}}</a>
        <a class="remove action" (click)="remove(i)">remove</a>
    </li>
    <li>
        <input type="text" placeholder="Enter new application name" [(ngModel)]="name" (keydown.enter)="add()" />
        <a class="add action" (click)="add()">add</a>
    </li>
</ul>

<a [routerLink]="['..']" routerLinkActive="router-link-active">Back to the index page</a>
