<router-outlet></router-outlet>

<select id="apps" name="apps">
    <option value="flappy-bird">Flappy Bird</option>
</select>

<div id="artifacts">
  <div id="artifacts-unasigned">
    <h2>Nicht zugeordnet</h2>
    <div class="artifact" *ngFor="let artifact of artifacts">
        <div class="artifact-info">
          <div class="artifact-name">{{ artifact?.name }}</div><div class="artifact-image">{{ artifact?.image }}</div></div>
        <button class="add" type="button">Hinzuf&uuml;gen</button>
    </div>
</div>
<div id="artifacts-assigned">
    <h2>Flappy Bird</h2>
    <div class="artifact" *ngFor="let artifact of artifacts">
      <div class="artifact-info">
        <div class="artifact-name">{{ artifact?.name }}</div><div class="artifact-image">{{ artifact?.image }}</div></div>
      <button class="remove" type="button">Entfernen</button>
    </div>
  </div>
</div>
