/* You can add global styles to this file, and also import other style files */
@use 'material-icons.scss';

@use 'app/shared/action.scss';
@use 'app/shared/form.scss';
@use 'app/shared/headings.scss';
@use 'app/shared/note.scss';
@use 'app/shared/select.scss';
@use 'app/shared/ul.scss';

$link-color: royalblue;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover {color: $link-color}
    &:visited {color: $link-color}

    &:hover {text-decoration: underline;}
}

button {
    // line-height: 200%;
    line-height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    font-weight: bold;
    border: none;
    color: white;
    background-color: dodgerblue;
    &:active {
        background-color: royalblue;
    }
}
