/* You can add global styles to this file, and also import other style files */
@use 'app/shared/action.scss';
@use 'app/shared/form.scss';
@use 'app/shared/note.scss';
@use 'app/shared/ul.scss';

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    // line-height: 200%;
    line-height: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    font-weight: bold;
    border: none;
    color: white;
    background-color: dodgerblue;
    &:active {
        background-color: royalblue;
    }
}
