<div>
  <h3>
    <span>Comparing environments: {{ (from$ | async)?.name }} to</span>
    <label>
      <select [formControl]="target">
        <option value=""></option>
        <option *ngFor="let env of envs$ | async" [value]="env.id">
          {{ env.name }}
        </option>
      </select>
      <span class="dropdown-arrow"></span>
    </label>
    <span>for application {{ (app$ | async)?.name }}</span>
  </h3>
  <div class="comparison">
    <div *ngIf="left$ | async as app; else empty" class="left">
      <h3>{{(from$ | async).name}}</h3>
      <app-history-nav [app]="app" [queryParams]="{ source: source.value, target: target.value }"></app-history-nav>
      <ul>
        <li *ngFor="let v of app.components">
          <div class="description" [ngClass]="comparisonClass(v, right$ | async)">
            <div>{{ v.name }}</div>
            <div>Image: {{ v.image }}</div>
            <div>Last update: {{ v.deployed ? (fromEpoch(v.deployed) | date:'YYYY-MM-dd HH:mm:ss.SSS') : '' }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="right$ | async as app; else empty" class="right">
      <h3>{{(to$ | async).name}}</h3>
      <div class="history">Since {{ app.validFrom ? (fromEpoch(app.validFrom) | date:'YYYY-MM-dd HH:mm:ss.SSS') : '' }}</div>
      <ul>
        <li *ngFor="let v of app.components" [ngClass]="v.image ? '' : 'missing'">
          <div class="description" [ngClass]="comparisonClass(v, left$ | async)">
            <div>{{ v.name }}</div>
            <div>Image: {{ v.image }}</div>
            <div>Last update: {{ v.deployed ? (fromEpoch(v.deployed) | date:'YYYY-MM-dd HH:mm:ss.SSS') : '' }}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--
        GET /api/deployments?env=1234
        [
        {"name": "node-hello-world", "image": "a/b/c:1", "updated": "2021-05-10T06:16:25.380286Z"}
        ]
    -->
</div>

<ng-template #empty>
  <div>
    <h3>No target chosen yet</h3>
  </div>
</ng-template>

<a routerLinkActive="router-link-active" routerLink="../.."
  >&lt;&lt; back</a
>

<h3>TODOs</h3>
<ol>
  <li>Highlight the newer image (higher version number)</li>
</ol>
