li {
    justify-content: unset;
}

.comparison {
    display: flex;
    flex-flow: row wrap;
    gap: 12pt;
    &>div {
        flex-basis: 0;
        flex-grow: 1;
    }
    ul {
        margin: 0;
        &>li.missing { color: darkgray; }
    }
    margin: 12pt 0;
}

.description {
    &>div:first-child {
        font-weight: bold;
    }
}